<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>mindmap.go</title>
  <style>
    {{ template "styles" .}}
  </style>
</head>
<body>
    <div class="topic">
      <h1>mindmap.go</h1>
    </div>
  <div>
    <div class="form-div">
      <form>
        <label for="user">username:</label><br>
        <input type="text" id="user" name="user" value="raphhawk"><br>
        <label for="repo">repository:</label><br>
        <input type="text" id="repo" name="repo" value="Tentacles"><br>
        <label for="branch">branch:</label><br>
        <input type="text" id="branch" name="branch" value="main"><br>
        <label for="file">file:</label><br>
        <input type="text" id="file" name="file" value="README.md"><br><br>
        <!--<button class="btn" id="btn" href="javascript:void(0);" type="submit" value="submit">Submit</button>-->
        <a class="btn" id="btn" onclick="fetchLink()" href="javascript:void(0);" type="submit" value="submit">Submit</a>
      </form>
    </div>
    <div id="output" class="output">
      <span>source comes here...</span>
    </div>
  </div>
  <script>
    {{ template "scripts" .}}
  </script>
</body>
</html>
