<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>mindmap.go</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div>
    <div class="form-div">
      <h1>mindmap.go</h1>
      <form action="/fetch">
        <label for="user">username:</label><br>
        <input type="text" id="user" name="user" value="username"><br>
        <label for="repo">repository:</label><br>
        <input type="text" id="repo" name="repo" value="repo"><br>
        <label for="file">file:</label><br>
        <input type="text" id="file" name="file" value="file"><br><br>
        <input class="btn" type="submit" value="Submit" >
      </form>
    </div>
    <div>
      <pre class="pretext"><span>source comes here...</span></pre>
    </div>
  </div>
</body>
</html>
